<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
  <add name="DBSC" providerName="System.Data.SqlClient"
   connectionString="Data Source=SYSLP735\SQLEXPRESS;Initial Catalog=Employee;Integrated Security=True" />
 </connectionStrings>
</configuration>